@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
  height:100%;width:100%;
  font-size:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
a{color:inherit;}

:root {
  --px16: 16px;
  --px18: 18px;
  --px20: 20px;
  --px32: 32px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container-1 {
  max-width: 1169px;
  margin: 0 auto;
  padding: 0 15px;
}

.gen {
  display: grid;
  grid-template-columns: 284px 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #fafafa;
  grid-template-areas: 
      ' sidebar header '
      ' sidebar body '
  ;
  position: relative;
  overflow: hidden;
}
.sidebar { grid-area: sidebar; }
.header-2 { grid-area: header; }
.main-content { 
  grid-area: body; 
  margin-top: 35px;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 98px;
}
.sign-in-gen {
  height: 100%;
}


@media screen and (max-width: 800px) {
  .gen {
    display: grid;
    grid-template-columns: 284px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    background-color: #fafafa;
    grid-template-areas: 
        ' header header '
        ' body body '
    ;
    position: relative;
  }
  .sidebar { grid-area: none; }
}

@media screen and (max-width: 440px) {
  :root {
    --px16: 16px;
    --px18: 16px;
    --px20: 18px;
    --px32: 25px;
  }
}